@model string[]
@{
    ViewData["Title"] = "GoogleResponse";
}
<br />
<br />
<br />
<h1>You are wellcome to the Rozetka!</h1>
<h2>your personal data:</h2>
<dl>
    <dt>Surname:</dt>
    <dd>@Model[0]</dd>
    <dt>Email:</dt>
    <dd>@Model[1]</dd>
</dl>
