@model Rozetka.Models.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "";
}

<h2>@ViewData["Title"]</h2>
<span class="enter-reg-tittle">Реєстрація нового користувача</span>
<br />
<br />
<br />


<form asp-action="Register">
    <span class="enter-reg-text">Ім'я</span>
        
    <div class="form-group">
        @* <label asp-for="FirstName" class="control-label"></label> *@
       
        <div class="input-group mb-3">
           
            <input asp-for="FirstName" class="enter-reg"
                   minlength="2" maxlength="20"
                   placeholder="" aria-label="Ім'я"
                   aria-describedby="firstname-addon">
        </div>
       
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <span class="enter-reg-text">Прізвище</span>
    <div class="form-group">
        @* <label asp-for="LastName" class="control-label"></label> *@
        <div class="input-group mb-3">
           
            <input asp-for="LastName" class="enter-reg"
                   minlength="2" maxlength="20"
                   placeholder="" aria-label="Прізвище"
                   aria-describedby="lastname-addon">
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <span class="enter-reg-text">Номер телефону</span>
    <div class="form-group">
        @* <label asp-for="PhoneNumber" class="control-label"></label> *@
        <div class="input-group mb-3">
         
            <input asp-for="PhoneNumber" class="enter-reg"
                   minlength="10" maxlength="15"
                   placeholder="" aria-label="Номер телефону"
                   aria-describedby="phone-addon">
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <span class="enter-reg-text">Е-пошта</span>
    <div class="form-group">
        @* <label asp-for="Email" class="control-label"></label> *@
        <div class="input-group mb-3">
          
            <input asp-for="Email" class="enter-reg"
                   minlength="6" maxlength="30"
                   placeholder="" aria-label="Е-пошта"
                   aria-describedby="email-addon">
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <span class="enter-reg-text">Пароль</span>
    <div class="form-group">
        @* <label asp-for="Password" class="control-label"></label> *@
        <div class="input-group mb-3">
         
            <input asp-for="Password" class="enter-reg"
                   minlength="6" maxlength="30"
                   placeholder="" aria-label="Пароль"
                   aria-describedby="password-addon">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <span class="enter-reg-text">Повторіть пароль</span>
    <div class="form-group">
        @* <label asp-for="ConfirmPassword" class="control-label"></label> *@
        <div class="input-group mb-3">
          
            <input asp-for="ConfirmPassword" class="enter-reg"
                   minlength="6" maxlength="30"
                   placeholder="" aria-label="Повторіть пароль"
                   aria-describedby="confirmpassword-addon">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Реєстрація" class="btn btn-purple d-flex align-items-center" />
    </div>
</form>
