

@{
    ViewData["Title"] = "Index";
}

@* мапа для пошуку місцезнаходження користувача *@
<div id="locationBlock">
    <h1>Оберіть ваше місто на карті</h1>
    <div id="map"></div>
    <div class="shop-cart-title">
        <div id="locationText">...</div>
    </div>
</div>
