

<style>
    .centered-text {
        display: flex;
        justify-content: center; /* Центрує по горизонталі */       
        height: 100vh; /* Висота контейнера на всю висоту вікна браузера */
        text-align: center; /* Центрує текст */
    }
</style>

<br/>

<h1 class="centered-text">Мої оголошення</h1>


