@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
.centered-text {
    display: flex;
    justify-content: center; /* Центрує по горизонталі */
    align-items: center;     /* Центрує по вертикалі */
    height: 100vh;          /* Висота контейнера на всю висоту вікна браузера */
    text-align: center;      /* Центрує текст */
    }
</style>
@{
    <h2 class="centered-text"> Ви ще не обрали улюблені товари </h2>
}
