
@{
    ViewData["Title"] = "AboutUs";
}

<h2>Наша мета − бути корисними</h2>
 <p>Ми віримо, що речі існують для того, щоб робити життя простішим, приємнішим і добрішим. 
    Тому й пошук тієї самої речі повинен бути швидким, зручним і приємним. Ми не просто продаємо побутову техніку, електроніку, прикраси або вино. 
    Ми допомагаємо знайти саме те, що треба, в одному місці та без зайвих хвилювань, щоб ви не витрачали життя на пошуки, а просто жили щасливо. 
    ШвидкоBuy − це універсальна відповідь на будь-який запит, початок пошуку та його кінцева зупинка, справжній помічник. Ми назавжди позбавляємо своїх покупців 
    від неприємних компромісів, виконуємо бажання і даємо змогу мріяти сміливіше. Завдяки розумному пошуку та чесному сервісу ми робимо життя наших клієнтів 
    трішки кращим просто зараз.
</p>

<div class="col-6 col-md-12 col-ms-12">
    <a class="anime-logo-link" asp-area="" asp-controller="Home" asp-action="Index">
        <svg class="anime-logo-sz-main" viewBox="0 0 288 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.8023 1.34639V17.884C25.8023 23.0163 26.8288 25.2974 29.9652 25.2974C33.3868 25.2974 35.2116 22.7312 35.2116 16.7435V1.34639H43.1953V31H35.4967V26.1528H35.2116C35.2116 26.1528 33.2157 31.8554 27.228 31.8554C22.4378 31.8554 19.9286 29.6314 18.7311 26.1528H18.3889C18.3889 26.1528 15.8227 31.8554 9.83497 31.8554C2.42157 31.8554 0.425654 26.4379 0.425654 19.5948V1.34639H8.40932V17.884C8.40932 23.0163 9.43579 25.2974 12.5722 25.2974C15.9938 25.2974 17.8186 22.7312 17.8186 16.7435V1.34639H25.8023ZM46.0354 31V1.34639H60.292C67.9905 1.34639 71.9823 3.91257 71.9823 9.33006C71.9823 14.1773 67.4203 15.3178 67.4203 15.3178V15.6029C67.4203 15.6029 72.8377 16.7435 72.8377 22.4461C72.8377 28.1487 69.131 31 61.1474 31H46.0354ZM60.292 18.4542H54.0191V25.2974H60.8622C63.4284 25.2974 64.8541 24.1569 64.8541 21.8758C64.8541 19.5948 63.1433 18.4542 60.292 18.4542ZM54.0191 13.3219H59.7217C62.573 13.3219 63.9987 12.1814 63.9987 10.1855C63.9987 8.18954 62.8582 7.04901 60.292 7.04901H54.0191V13.3219ZM102.763 1.34639V31H95.0646V26.1528H94.7794C94.7794 26.1528 92.2133 31.8554 85.6553 31.8554C77.3865 31.8554 75.1054 26.4379 75.1054 19.5948V1.34639H83.0891V17.884C83.0891 23.0163 84.5147 25.2974 88.2214 25.2974C92.4984 25.2974 94.7794 22.7312 94.7794 16.7435V1.34639H102.763ZM135.277 1.34639V27.5784C135.277 36.1324 130.715 42.1201 120.45 42.1201C106.764 42.1201 106.479 31.8554 106.479 31.8554H114.462C114.462 31.8554 114.748 36.1324 120.45 36.1324C125.525 36.1324 127.293 33.281 127.293 28.1487V26.723H127.008C127.008 26.723 124.442 30.7149 118.169 30.7149C109.615 30.7149 105.338 23.3015 105.338 15.6029C105.338 7.9044 109.615 0.491002 118.169 0.491002C124.727 0.491002 127.293 5.33823 127.293 5.33823H127.578V1.34639H135.277ZM127.578 15.6029C127.578 10.8127 125.297 6.47875 120.45 6.47875C115.603 6.47875 113.322 10.8127 113.322 15.6029C113.322 20.3931 115.603 24.7271 120.45 24.7271C125.297 24.7271 127.578 20.3931 127.578 15.6029ZM138.146 31V1.34639H146.13V13.3219L156.68 1.34639H166.089L154.912 12.9227L166.659 31H156.908L149.38 18.6253L146.13 21.9899V31H138.146ZM173.522 16.1732C173.522 21.5337 175.575 25.8676 180.651 25.8676C185.726 25.8676 187.779 21.5337 187.779 16.1732C187.779 10.8127 185.726 6.47875 180.651 6.47875C175.575 6.47875 173.522 10.8127 173.522 16.1732ZM165.539 16.1732C165.539 7.50522 170.899 0.491002 180.651 0.491002C190.402 0.491002 195.763 7.50522 195.763 16.1732C195.763 24.8412 190.402 31.8554 180.651 31.8554C170.899 31.8554 165.539 24.8412 165.539 16.1732Z" fill="#9C12FF" />
            <path d="M198.347 31V1.34639H212.603C220.302 1.34639 224.293 3.91257 224.293 9.33006C224.293 14.1773 219.731 15.3178 219.731 15.3178V15.6029C219.731 15.6029 225.149 16.7435 225.149 22.4461C225.149 28.1487 221.442 31 213.458 31H198.347ZM212.603 18.4542H206.33V25.2974H213.173C215.74 25.2974 217.165 24.1569 217.165 21.8758C217.165 19.5948 215.454 18.4542 212.603 18.4542ZM206.33 13.3219H212.033C214.884 13.3219 216.31 12.1814 216.31 10.1855C216.31 8.18954 215.169 7.04901 212.603 7.04901H206.33V13.3219ZM255.074 1.34639V31H247.376V26.1528H247.091C247.091 26.1528 244.524 31.8554 237.966 31.8554C229.698 31.8554 227.416 26.4379 227.416 19.5948V1.34639H235.4V17.884C235.4 23.0163 236.826 25.2974 240.533 25.2974C244.809 25.2974 247.091 22.7312 247.091 16.7435V1.34639H255.074ZM287.303 1.34639L276.753 31.8554C274.415 38.6415 271.336 42.1201 265.348 42.1201C262.497 42.1201 260.215 41.2647 260.215 41.2647V34.7067C260.215 34.7067 261.926 35.277 263.922 35.277C266.773 35.277 267.914 33.7373 269.055 31L257.079 1.34639H265.633L272.875 20.9064L278.749 1.34639H287.303Z" fill="#2F2F2F" />
        </svg>
    </a>
</div>

<h2> Щастя починається з простих речей</h2>
<p>
    І ми допомагаємо ці речі знайти: закоханим підказуємо, чим здивувати один одного; спортивних мотивуємо ніколи не здаватись і швидше прогресувати;
    хазяйновитим даємо можливість створити справжній затишок. Ми хочемо, щоб ви знали, що шукаєте, і могли аргументувати свій вибір. 
    Для цього ми знімаємо відеоогляди, пишемо статті та відстежуємо новинки.
</p>

<h2> Зручна доставка</h2>
<p>
     І звичайно, будь-який товар можна замовити з доставкою. Ми доставляємо замовлення по Києву протягом одного дня, а по Україні − на наступний день. 
     Усе − без передоплати, якщо потрібно − у кредит. Оплата готівкова або безготівкова − як вам зручніше.
</p>

<p> Умови доставки та оплати</p>

<h2>Далі − більше</h2>
<p>
    Ми хочемо, щоб у наших клієнтів взагалі ніколи не виникало запитання «де знайти щось потрібне». 
    Тому сьогодні ми не тільки найбільший онлайн-ритейлер, а ще й майданчик для продавців. Хтось почне з нами свій перший бізнес (або розширить наявний), 
    а хтось − привезе в Україну продукти, яких поки що немає. Це вигідно всім: і покупцям, і продавцям, і навіть нам − адже так ми допоможемо більшій кількості 
    людей стати трохи щасливішими.
</p>