@{
    ViewData["DeliverOrders"] = "DeliverOrders";
}
<h2>Доставляти замовлення</h2>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">
    <!-- Заголовок сторінки -->
    <h2 style="text-align: center; color: black;">Стати партнером для доставки</h2>
    <p style="text-align: center; color: gray;">
        Приєднуйтесь до нашої команди кур'єрів і допоможіть нам доставляти товари нашим клієнтам вчасно!
    </p>
 <br />
 <br />
    <!-- Переваги співпраці -->
    <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-bottom: 40px;">
        <div style="flex: 1; min-width: 250px;">
            <h4 style="color: #9C12FF;">Гнучкий графік роботи</h4>
            <p style="color: gray;">Працюйте в зручний для вас час і обирайте зміну, яка підходить саме вам.</p>
        </div>
        <div style="flex: 1; min-width: 250px;">
            <h4 style="color: #9C12FF;">Стабільний дохід</h4>
            <p style="color: gray;">Ми пропонуємо конкурентну оплату праці та можливість заробляти щодня.</p>
        </div>
        <div style="flex: 1; min-width: 250px;">
            <h4 style="color: #9C12FF;">Мінімум бюрократії</h4>
            <p style="color: gray;">Легка реєстрація та початок роботи без зайвих клопотів.</p>
        </div>
    </div>

    <!-- Процес приєднання -->
    <h3 style="color: black;">Як приєднатися?</h3>
    <ol style="color: gray;">
        <li>Зареєструйтесь на нашому сайті як партнер з доставки.</li>
        <li>Заповніть необхідні дані та підтвердіть свою особу.</li>
        <li>Отримуйте замовлення на доставку у своєму районі та заробляйте, доставляючи товари клієнтам.</li>
    </ol>

    <!-- Вимоги до кур'єрів -->
    <h3 style="color: black;">Вимоги до кур'єрів</h3>
    <ul style="color: gray;">
        <li>Вік від 18 років.</li>
        <li>Наявність власного транспортного засобу (велосипед, мотоцикл або автомобіль).</li>
        <li>Відповідальність і уважність до деталей.</li>
        <li>Знання міста та здатність швидко орієнтуватися.</li>
    </ul>

    <!-- Контактна інформація -->
    <div>
        <h4 style="color: #9C12FF;">Зв'яжіться з нами для отримання детальної інформації</h4>
        <p style="color: gray;">Телефон: <span style="color: black;">+380 (50) 123 45 67</span></p>
        <p style="color: gray;">Електронна пошта: <span style="color: black;">partners@швидкоbuy.ua</span></p>
    </div>
</div>
<br />