@{
    ViewData["Sertification"] = "Sertification";
}
<h3>Швидко обмiн</h3>
<br />

<div style="background-color: #F1DDFF; width: 100%; padding: 20px 0; border-radius: 15px; border: 2px solid #9C12FF;">
    <div style="display: flex; justify-content: center; width: 70%; margin: 0 auto;">
        <div style="flex: 1; padding: 20px; text-align: left;">
            <h1 style="color: black;">Обміняйте старі ґаджети<br>на... будь-що!</h1>
            <h2 style="color: #9C12FF;">Скористайтеся програмою<br>Швидкоbuy Обмін</h2>
        </div>
        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
            <i class="fas fa-sync-alt"
               style="color: #9C12FF; font-size: 12em; transition: transform 0.5s;
                      text-shadow: 1px 1px 0 black, -1px -1px 0 black,
                                   -1px 1px 0 black, 1px -1px 0 black;">
            </i>
        </div>
    </div>
</div>
<br />
<h1 style="text-align: center; color: black;">Як скористатися?</h1>


<div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 70%; margin-left: 550px;">
    <!-- Круг 1 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">1</span>
        </div>
        <p style="display: flex; align-items: center; color: black;">
            <span>Оберіть&nbsp;</span>
            <a href="#location-block" style="color: #9C12FF; text-decoration: none;">зручний магазин</a>
            <span>&nbsp;із пунктом прийому Швидкоbuy Обмін</span>
        </p>

    </div>
    <!-- Круг 2 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">2</span>
        </div>
        <p style="color: black;">Оцініть з експертом свій старий ґаджет</p>
    </div>
    <!-- Круг 3 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 10px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">3</span>
        </div>
        <p style="color: black;">
            Обміняйте ґаджет на новий або на<br>
            будь-що потрібне
        </p>
    </div>
</div>
<br />

<div style="text-align: left; width: 40%; margin: 0 auto; color: gray;">
    <p>
        За програмою Швидкоbuy Обмін клієнт отримує сертифікат Швидкоbuy номіналом на суму оціночної вартості ґаджета.
        Щоб скористатися послугою Швидкоbuy Обмін, необхідно мати документ, що посвідчує особу.
        Купуючи нову техніку, надайте на касі сертифікат, отриманий за програмою Швидкоbuy Обмін. Якщо вартість пристрою перевищує номінал сертифіката, потрібно доплатити різницю.
        Сертифікат також можна використати на придбання будь-яких товарів з позначкою «Продавець Швидкоbuy», крім алкоголю, тютюнових виробів та подарункових сертифікатів.
    </p>
</div>
<br />

<div style="background-color: #F1DDFF; width: 100%; padding: 20px 0; border-radius: 15px; border: 2px solid #9C12FF;">
    <h1 style="color: black; text-align: center;">Які ґаджети можна обміняти?</h1>

    <div style="display: flex; justify-content: center; width: 100%; padding: 20px 0; background-color: #F1DDFF;">
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> 
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-phone" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Смартфони</p>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> 
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-tablet-landscape" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Планшети</p>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> 
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-smartwatch" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Смарт-годинники</p>
        </div>

        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;">
           
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-tv" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Телевiзори</p>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;">

            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-laptop" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Ноутбуки</p>
        </div>

    </div>
</div>
<br />
<h1 style="text-align: center; color: black;">Як підготувати пристрій для обміну?</h1>

<div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 70%; margin-left: 550px;">
    <!-- Круг 1 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 2px solid #9C12FF; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"></i>
        </div>
        <p style="color: black;">Перенесіть персональну інформацію та контент <br /> з ґаджета на резервний ґаджет або жорсткий диск, комп’ютер.</p>
    </div>
    <!-- Круг 2 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 2px solid #9C12FF; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"></i>
        </div>
        <p style="color: black;">Вийдіть із особистих акаунтів.</p>
    </div>
    <!-- Круг 3 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 10px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 2px solid #9C12FF; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"></i>
        </div>
        <p style="color: black;">
            Видаліть персональний контент.
        </p>
    </div>
</div>

<!-- Блок с адресами -->
<div id="location-block" style="margin-top: 20px; padding: 20px; background-color: #F1DDFF; border-radius: 15px; width: 80%; margin-left: auto; margin-right: auto; border: 2px solid #9C12FF;">
    <div style="display: flex; justify-content: space-between;">

        <!-- Первая колонка -->
        <div style="flex: 1; margin-right: 20px;">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="bi bi-geo-alt-fill" style="color: #9C12FF; font-size: 24px; margin-right: 10px;"></i>
                <h2 style="color: black;">Київ:</h2>
            </div>
            <ul style="color: black; line-height: 1.5;">
                <li>вул. Хрещатик, 20-22 (Величезний магазин)</li>
                <li>пр. Перемоги, 136 (ст. м. Житомирська)</li>
                <li>вул. Теодора Драйзера, 8</li>
                <li>пр. Перемоги, 24, ТРЦ Smart Plaza</li>
                <li>вул. Дніпровська набережна, 33, ТК Аркадія</li>
                <li>вул. Михайла Гришка, 3а, ТРЦ Аладдін</li>
                <li>вул. Кіото, 25</li>
                <li>Харківське шосе, 2А</li>
                <li>вул. Святошинська, 3а (ст. м. Святошин)</li>
                <li>вул. Верхній Вал, 28 (ст.м. Контрактова площа)</li>
                <li>пр. Правди, 47, ТРЦ RETROVILLE</li>
                <li>б-р Перова, 32 (біля авторинку)</li>
                <li>вул. Юрія Іллєнка, 1 (ст. м. Лук'янівська)</li>
                <li>пр. Оболонський, 26, ЖК Obolon Residences (ст. м. Мінська)</li>
            </ul>
        </div>

        <!-- Вторая колонка -->
        <div style="flex: 1;">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="bi bi-geo-alt-fill" style="color: #9C12FF; font-size: 24px; margin-right: 10px;"></i>
                <h2 style="color: black;">Лубни:</h2>
            </div>
            <ul style="color: black; line-height: 1.5;">
                <li>вул. Привокзальна, 10Б</li>
                <li>бульв. Дружби Народів, 2</li>
                <li>просп. Волі, 15</li>
            </ul>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="bi bi-geo-alt-fill" style="color: #9C12FF; font-size: 24px; margin-right: 10px;"></i>
                <h2 style="color: black;">Луцьк:</h2>
            </div>
            <ul style="color: black; line-height: 1.5;">
                <li>пр. Червоної Калини, 36, ТК Шувар</li>
                <li>вул. Сихівська, 8</li>
                <li>вул. Солодова, 1</li>
            </ul>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="bi bi-geo-alt-fill" style="color: #9C12FF; font-size: 24px; margin-right: 10px;"></i>
                <h2 style="color: black;">Кривий Рiг:</h2>
            </div>
            <ul style="color: black; line-height: 1.5;">
                <li>пр. Муренко, 36, ТЦ Терра</li>
                <li>вул. Гастелло, 65</li>
                <li>вул. Боброва, 13</li>
            </ul>
        </div>
    </div>
</div>
<br />

<div style="width: 100%; padding: 40px; color: #6E6E6E; font-family: Arial, sans-serif; line-height: 1.6;">
    <h1 style="color: #000000;">Які ґаджети можна обміняти?</h1>
    <p>В програмі Швидкоbuy Обмін беруть участь:</p>
    <ul>
        <li>смартфони – Apple, Samsung, Huawei, Xiaomi та інших брендів;</li>
        <li>планшети – Samsung, IPad Apple, Lenovo та інших брендів;</li>
        <li>смарт-годинники – Apple, Samsung.</li>
    </ul>

    <h2 style="color: #000000;">Підготовка пристрою для обміну</h2>
    <p>Щоб скористатися послугою, необхідно підготувати пристрій:</p>
    <ol>
        <li>Перенести особисту інформацію та контент на ноутбук або комп'ютер, після чого видалити її з пристрою.</li>
        <li>Вийти з усіх своїх акаунтів і зробити скидання до заводських налаштувань. Це може виконати фахівець в магазині, але процедура займе трохи більше часу.</li>
    </ol>

    <h2 style="color: #000000;">Вимоги до пристрою</h2>
    <p>Для участі в програмі Швидкоbuy Обмін ваш пристрій має бути в робочому стані, не мати слідів контакту з рідиною, а стан екрану має дозволити провести діагностику: встановити додаток та скинути налаштування.</p>
    <p><strong>Старий ґаджет – це:</strong></p>
    <ul>
        <li>смартфони та планшети iPhone від 8, iPad від 5 серії та вище, iPad mini від 2 серії та вище, усі iPad Air та Pro;</li>
        <li>смартфони та планшети Android від 2017 року і молодше;</li>
        <li>смарт-годинники Apple Watch усіх серій та Samsung Watch від Galaxy Watch.</li>
    </ul>

    <h2 style="color: #000000;">Процес обміну</h2>
    <p>Останній крок – відвідати зручний для вас Пункт прийому Швидкоbuy Обмін, де експерт оцінить пристрій і запропонує можливі варіанти.</p>

    <h2 style="color: #000000;">Що необхідно для обміну?</h2>
    <p>Крім старого смартфона, планшета або смарт-годинника, який ви хочете обміняти, для складання акта прийому-передачі необхідний документ, що засвідчує особу.</p>
    <p>Клієнту видається сертифікат номіналом, який відповідає оціночній вартості старого гаджета. Сума залежить від моделі, року випуску, технічного стану, наявності аксесуарів та упаковки. Чим краще зберігся гаджет, тим більша буде сума.</p>
    <p>Спеціальний калькулятор оцінки дозволяє заздалегідь розрахувати попередню суму обміну, заповнивши онлайн-форму.</p>

    <h2 style="color: #000000;">Як працює програма обміну ґаджетів?</h2>
    <p>Після обміну старого пристрою і отримання сертифіката, ви можете придбати новий гаджет на його суму. Додайте сертифікат на касі і, за потреби, доплатіть різницю. Замість нового гаджета ви також можете вибрати інші товари з позначкою «Продавець Швидкоbuy», за винятком тютюнових виробів, алкоголю та подарункових сертифікатів.</p>

    <p ><strong>Максимум можливостей для вдалих покупок!</strong></p>
</div>

<br />
<br />



<script>
    let angle = 0; // Начальный угол
    setInterval(() => {
        angle += 5; // Увеличиваем угол на 5 градусов
        document.querySelector('.fa-sync-alt').style.transform = `rotate(${angle}deg)`; // Применяем вращение
    }, 50); // Каждые 50 мс
</script>

<script>
    // Скрипт для плавной прокрутки к блоку
    document.querySelector('a[href="#location-block"]').addEventListener('click', function (event) {
        event.preventDefault();
        document.querySelector('#location-block').scrollIntoView({ behavior: 'smooth' });
    });
</script>