@{
    ViewData["Sertification"] = "Sertification";
}
<h3>Швидко обмiн</h3>
<br />

<div style="background-color: #F1DDFF; width: 100%; padding: 20px 0; border-radius: 15px; border: 2px solid #9C12FF;">
    <div style="display: flex; justify-content: center; width: 70%; margin: 0 auto;">
        <div style="flex: 1; padding: 20px; text-align: left;">
            <h1 style="color: black;">Обміняйте старі ґаджети<br>на... будь-що!</h1>
            <h2 style="color: #9C12FF;">Скористайтеся програмою<br>Швидкоbuy Обмін</h2>
        </div>
        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
            <i class="fas fa-sync-alt"
               style="color: #9C12FF; font-size: 12em; transition: transform 0.5s;
                      text-shadow: 1px 1px 0 black, -1px -1px 0 black,
                                   -1px 1px 0 black, 1px -1px 0 black;">
            </i>
        </div>
    </div>
</div>
<br />
<h1 style="text-align: center; color: black;">Як скористатися?</h1>


<div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 70%; margin-left: 550px;">
    <!-- Круг 1 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">1</span>
        </div>
        <p style="color: black;">Оберіть зручний магазин із пунктом прийому Швидкоbuy Обмін</p>
    </div>
    <!-- Круг 2 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">2</span>
        </div>
        <p style="color: black;">Оцініть з експертом свій старий ґаджет</p>
    </div>
    <!-- Круг 3 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 10px;">
        <div style="width: 40px; height: 40px; margin-top: -12px; border-radius: 50%; background-color: #9C12FF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">3</span>
        </div>
        <p style="color: black;">
            Обміняйте ґаджет на новий або на<br>
            будь-що потрібне
        </p>
    </div>
</div>
<br />

<div style="text-align: left; width: 40%; margin: 0 auto; color: gray;">
    <p>
        За програмою Швидкоbuy Обмін клієнт отримує сертифікат Швидкоbuy номіналом на суму оціночної вартості ґаджета.
        Щоб скористатися послугою Швидкоbuy Обмін, необхідно мати документ, що посвідчує особу.
        Купуючи нову техніку, надайте на касі сертифікат, отриманий за програмою Швидкоbuy Обмін. Якщо вартість пристрою перевищує номінал сертифіката, потрібно доплатити різницю.
        Сертифікат також можна використати на придбання будь-яких товарів з позначкою «Продавець Швидкоbuy», крім алкоголю, тютюнових виробів та подарункових сертифікатів.
    </p>
</div>
<br />

<div style="background-color: #F1DDFF; width: 100%; padding: 20px 0; border-radius: 15px; border: 2px solid #9C12FF;">
    <h1 style="color: black; text-align: center;">Які ґаджети можна обміняти?</h1>

    <div style="display: flex; justify-content: center; width: 100%; padding: 20px 0; background-color: #F1DDFF;">
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> <!-- 40px отступы -->
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-phone" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Смартфони</p>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> <!-- 40px отступы -->
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-tablet-landscape" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Планшети</p>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 20px;"> <!-- 40px отступы -->
            <div style="width: 60px; height: 60px; border-radius: 50%; background-color: white; border: 2px solid black; display: flex; align-items: center; justify-content: center;">
                <i class="bi bi-smartwatch" style="font-size: 24px; color: black;"></i>
            </div>
            <p style="color: #9C12FF; font-size: 22px;">Смарт-годинники</p>
        </div>
    </div>
</div>
<br />
<h1 style="text-align: center; color: black;">Як підготувати пристрій для обміну?</h1>

<div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 70%; margin-left: 550px;">
    <!-- Круг 1 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px;"></i>
        </div>
        <p style="color: black;">Перенесіть персональну інформацію та контент <br /> з ґаджета на резервний ґаджет або жорсткий диск, комп’ютер.</p>
    </div>
    <!-- Круг 2 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px;"></i>
        </div>
        <p style="color: black;">Вийдіть із особистих акаунтів.</p>
    </div>
    <!-- Круг 3 -->
    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 10px;">
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #F1DDFF; border: 1px solid black; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
            <i class="bi bi-check" style="color: green; font-size: 100px; position: relative; top: -15px;"></i>
        </div>
        <p style="color: black;">
            Видаліть персональний контент.
        </p>
    </div>
</div>

<script>
    let angle = 0; // Начальный угол
    setInterval(() => {
        angle += 5; // Увеличиваем угол на 5 градусов
        document.querySelector('.fa-sync-alt').style.transform = `rotate(${angle}deg)`; // Применяем вращение
    }, 50); // Каждые 50 мс
</script>