@{
    ViewData["GuaranteePage"] = "GuaranteePage";
}
<h2>Гарантiя</h2>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">


    <!-- Загальні умови гарантії -->
    <h3 style="color: black;">Загальні умови гарантії</h3>
    <p style="color: gray;">
        Всі товари, придбані в нашому магазині, мають гарантійний термін, який зазначений у документах на товар. Гарантія поширюється на виробничі дефекти та невідповідність товару заявленим характеристикам.
    </p>

    <!-- Порядок повернення товару -->
    <h3 style="color: black;">Порядок повернення товару</h3>
    <ol style="color: gray;">
        <li>Зверніться до нашої служби підтримки для отримання консультації.</li>
        <li>Підготуйте товар до повернення: він повинен бути в оригінальній упаковці з усіма документами.</li>
        <li>Відправте товар за адресою, зазначеною нашими спеціалістами.</li>
        <li>Очікуйте на обробку вашого повернення. Ми зв'яжемося з вами для підтвердження або відмови у поверненні.</li>
    </ol>

    <!-- Вимоги для повернення -->
    <h3 style="color: black;">Вимоги для повернення товару</h3>
    <ul style="color: gray;">
        <li>Товар не повинен бути використаним та має бути в оригінальному вигляді.</li>
        <li>Необхідно зберігати чеки та документи на товар.</li>
        <li>Товар повинен бути повернутий протягом 14 днів з моменту покупки.</li>
    </ul>

    <!-- Часті питання -->
    <h3 style="color: black;">Часті питання</h3>
    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">На що поширюється гарантія?</h4>
        <p style="color: gray;">Гарантія поширюється на виробничі дефекти, а також на невідповідність товару характеристикам, зазначеним у документах.</p>
    </div>
    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">Як довго триває гарантія на товар?</h4>
        <p style="color: gray;">Тривалість гарантії залежить від конкретного товару і зазначена в документації, яка надається при покупці.</p>
    </div>

    <!-- Контактна інформація -->
    <div>
        <h4 style="color: #9C12FF;">Зв'яжіться з нами для отримання детальної інформації</h4>
        <p style="color: gray;">Телефон: <span style="color: black;">+380 (50) 123 45 67</span></p>
        <p style="color: gray;">Електронна пошта: <span style="color: black;">support@швидкоbuy.ua</span></p>
    </div>
</div>
<br />