
@{
    ViewData["Title"] = "Index";
}

<h2>Угода користувача</h2>
<p>
    Викладений нижче текст Угоди користувача (надалі – «Угода» та/або «Угода»), адресований невизначеному колу осіб, відвідувачам сайту: ... (надалі – «Сайт») 
    та/або мобільного додатку ШвидкоBuy (надалі – «Мобільний додаток») та/або інших сервісів (надалі разом іменуються як «Он-лайн платформа ШвидкоBuy» та/або
    «Он-лайн платформа»), при використанні, замовленні, листуванні, телефонній розмові, залишенні відгуків тощо на Он-лайн платформі ШвидкоBuy.
</p>
<p>
    Ця Угода є публічною офертою в розумінні положень чинного законодавства України. 
    Вчинення конклюдентних дій особами (далі іменовані «Користувач»/ «Покупець», а в множині «Користувачі»/ «Покупці»), спрямованих на користування Он-лайн платформою 
    ШвидкоBuy вважається безумовним прийняттям (акцептом) усіх положень цієї Угоди.
    Користувач цим визнає, що акцепт Угоди рівносильний підписанню та укладенню Угоди на умовах, викладених в цій Угоді. 
    У випадку визнання недійсною або нездійсненною будь-якої частини даної Угоди користувача, інші її частини будуть залишатися чинними.
</p>
<p>
    Угода користувача визначає загальні умови створення особистого кабінету користувача, формування та прийняття замовлення до виконання, доставку та повернення товару,
    маркетингові аспекти взаємодії Користувача та Он-лайн платформи ШвидкоBuy тощо.
</p>
<p>
    Якщо Ви, як Користувач, не погоджуєтесь із цією Угодою користувача, Ви не повинні користуватися Он-лайн платформою ШвидкоBuy. Будь ласка, періодично перевіряйте цю Угоду,
    оскільки зміни в Угоді вказують на те, що Ви приймаєте їх з моменту внесення таких змін.
</p>
<p>
    Користувач акцептом цієї Угоди надає згоду на обробку та захист своїх персональних даних, в обсязі, порядку, відповідно до мети та цілей обробки згідно з 
    Положенням про обробку персональних даних (надалі – «Положення» та/або «Положення про обробку і захист персональних даних»).
</p>
<p>
    Ми цінуємо право Користувача на особисте життя та нерозголошення його персональної інформації. Ця Угода користувача — правило, яким користуються всі
    Користувачі нашого сервісу, та регламентує збір і використання особистої інформації, яка може бути запитана/отримана при відвідуванні 
    Он-лайн платформи при замовленні, листуванні, телефонній розмові, будь-якій іншій комунікації, при якій здійснюється обмін даними/інформацією. 
    Якщо у Користувача виникнуть питання або проблеми у зв’язку з конфіденційністю, Користувач має бажання відкликати Згоду на використання персональних даних,
    для цього достатньо надіслати повідомлення електронною поштою, з поміткою в темі листа «Персональні дані» на електронну адресу: .....
</p>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<h2>ПЕРСОНАЛЬНІ ДАНІ КОРИСТУВАЧА</h2>

<p>  
    Он-лайн платформа Rozetka, в разі, коли Користувач робить замовлення, берете участь в акціях, дослідженнях або іншим чином взаємодієте з Он-лайн платформою, 
     Он-лайн платформа збирає як особисту інформацію, так і загальні дані.
</p>

<p>
    Особиста інформація стосується окремого користувача та обробляється в порядку, межах, з метою, визначених в Положенні про обробку персональних даних Користувача 
    (далі – Положення). При цьому не вимагається реєстрація або надання такої інформації для перегляду Он-лайн платформи та отримання доступу до його змісту.
</p>

<p>
    Для того щоб зробити замовлення товарів/послуг, брати участь в акціях, дослідженнях або іншим чином взаємодіяти з Он-лайн платформою, 
    ви повинні уважно ознайомитися з вашими правами та обов’язками щодо обробки персональних даних, які зазначені в 
    ст. 8 Законі України «Про захист персональних даних» та Положенні, уважно ознайомитися з даною Угодою користувача та Положенням, а також 
    висловити свою повну згоду з їх умовами.
</p>
<p>
    Якщо ви не погоджуєтеся з будь-якою з умов даної Угоди користувача та Положення про обробку і захист персональних даних, будь ласка, не надавайте особисту 
    інформацію (персональні дані).
</p>

<h2> ОСОБИСТИЙ КАБІНЕТ</h2>

<p>
    Особистий кабінет, це повноцінний інструмент створений для того, щоб зробити покупки з використанням Он-лайн платформи ще зручнішими.
    Зареєструвавшись на Он-лайн платформі Користувач отримує можливість керувати покупками. Покрокова інструкція з реєстрації особистого кабінету доступна 
    за посиланням тут.
</p>
<p>
    Користувач має право видалити особистий кабінет. Інструкція щодо видалення особистого кабінету доступна за посиланням тут.
</p>

<h2>ЦІНИ ТА НАЯВНІСТЬ ТОВАРУ</h2>
<p>
    Опис товарів, що розміщений на Он-лайн платформі, в тому числі ціни позначені на Он-лайн платформі та інформація щодо наявності товарів, може змінюватись.
    Сума замовлення може змінюватись в залежності від ціни, кількості, номенклатури товару наявного у продавця на дату відвантаження. 
    Остаточна вартість товару зазначається в розрахункових та/або товаросупровідних документах, що надаються покупцеві (або його представнику) під час отримання замовлення.
    У випадку відсутності товару продавець може в односторонньому порядку скасовувати замовлення.    
</p>
