@{
    ViewData["Legalinformation"] = "Legalinformation";
}
<h3>Юридична інформація</h3>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />

<div class="container">
    
   
    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">1. Власність сайту</h4>
        <p style="color: gray;">Цей сайт є власністю ТОВ "Швидкоbuy" та захищений чинним законодавством про інтелектуальну власність України. Усі матеріали, розміщені на цьому сайті, є власністю компанії і не можуть бути використані без попередньої письмової згоди.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">2. Політика конфіденційності</h4>
        <p style="color: gray;">Ми зобов'язуємось захищати особисті дані клієнтів відповідно до положень Закону України "Про захист персональних даних". Ваші дані використовуються тільки для обробки замовлень та надання сервісних послуг.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">3. Умови користування сайтом</h4>
        <p style="color: gray;">Користуючись сайтом, ви погоджуєтесь з умовами користування. Будь-яке порушення цих умов може призвести до обмеження доступу або видалення акаунта.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">4. Повернення товарів</h4>
        <p style="color: gray;">Згідно з законодавством України, товари належної якості можуть бути повернені протягом 14 днів за умови збереження товарного вигляду. Для оформлення повернення зв’яжіться з нашою службою підтримки.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">5. Відповідальність за інформацію</h4>
        <p style="color: gray;">Ми прагнемо надавати точну і актуальну інформацію про товари, проте не несемо відповідальності за можливі помилки, неточності або застарілу інформацію.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">6. Умови доставки</h4>
        <p style="color: gray;">Доставка здійснюється по всій території України. Вартість та строки доставки залежать від обраного регіону та обробляються автоматично під час оформлення замовлення.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">7. Зміни в умовах використання</h4>
        <p style="color: gray;">ТОВ "Швидкоbuy" залишає за собою право змінювати умови користування сайтом в будь-який час. Користувачі будуть повідомлені про такі зміни шляхом розміщення оновленої інформації на цій сторінці.</p>
    </div>

    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">8. Контактна інформація</h4>
        <p style="color: gray;">Якщо у вас виникли питання щодо наших юридичних умов, зв’яжіться з нами за вказаними контактами:</p>
        <p style="color: black;">Телефон: +380 67 123 45 67</p>
        <p style="color: black;">Email: legal@shvidkobuy.com</p>
    </div>
</div>
<br />
<br />