@{
    ViewData["OfferWarehouse"] = "OfferWarehouse";
}
<h2>Запропонувати примiщення</h2>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">
    <h2 style="text-align: center; color: #000;">Запропонувати приміщення для Швидкоbuy</h2>
    <br />

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Про ініціативу</h4>
        <p style="color: gray;">
            Ми шукаємо приміщення для відкриття нових пунктів видачі та обслуговування клієнтів. Якщо у вас є відповідне приміщення, яке ви хочете здати в оренду, ми готові розглянути вашу пропозицію.
        </p>
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Критерії для приміщення</h4>
        <ul style="color: gray;">
            <li>Загальна площа від 30 до 100 квадратних метрів.</li>
            <li>Зручне розташування, переважно у місцях з високою прохідністю.</li>
            <li>Наявність окремого входу та доступу для клієнтів.</li>
            <li>Безпечність, можливість підключення до електропостачання та опалення.</li>
        </ul>
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Як подати пропозицію</h4>
        <p style="color: gray;">
            Щоб запропонувати своє приміщення, будь ласка, зв'яжіться з нами за контактами, вказаними нижче. У повiдомленнi просимо вказати основні характеристики вашого приміщення, включаючи площу, адресу, наявність необхідних комунікацій та інші деталі.
        </p>
      
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Контакти</h4>
        <p style="color: gray;">Якщо у вас виникли питання або ви хочете отримати більше інформації, звертайтесь за контактами:</p>
        <p style="color: #000;"><strong>Телефон:</strong> +38 (050) 765-43-21</p>
        <p style="color: #000;"><strong>Email:</strong> realestate@shvydkobuy.ua</p>
    </div>
</div>
<br />