@{
    ViewData["OpenPickupPoint"] = "OpenPickupPoint";
}
<h3>Відкрити пункт видачі</h3>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">

    <br />

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Що таке пункт видачі?</h4>
        <p style="color: gray;">Пункт видачі замовлень — це місце, де наші клієнти можуть отримати свої покупки. Відкриття пункту видачі в вашому місті дозволить залучити більше клієнтів, забезпечити зручний сервіс та стати партнером у швидкому зростаючому бізнесі.</p>
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Переваги відкриття пункту видачі:</h4>
        <ul style="color: gray;">
            <li>Збільшення потоку клієнтів у вашій локації.</li>
            <li>Дохід від комісій за кожне видане замовлення.</li>
            <li>Брендована підтримка та маркетингова підтримка від нас.</li>
            <li>Проста інтеграція у наші системи управління замовленнями.</li>
        </ul>
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Вимоги до партнера:</h4>
        <ul style="color: gray;">
            <li>Наявність торгової точки або орендованого приміщення з доступом для клієнтів.</li>
            <li>Відповідність стандартам якості обслуговування клієнтів.</li>
            <li>Можливість роботи з нашим онлайн-сервісом для обробки замовлень.</li>
            <li>Бажання працювати в команді та розвивати бізнес.</li>
        </ul>
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Як стати партнером?</h4>
        <p style="color: gray;">Для того, щоб відкрити пункт видачі, заповніть анкету, і вiдправте на поштову скриньку partners@shvydkobuy.ua. Наші менеджери зв'яжуться з вами для подальших кроків.</p>
      
    </div>

    <div style="margin-bottom: 30px;">
        <h4 style="color: #9C12FF;">Контакти для зв'язку:</h4>
        <p style="color: gray;">Якщо у вас є питання, зв'яжіться з нами за телефоном або електронною поштою:</p>
        <p style="color: #000;"><strong>Телефон:</strong> +38 (050) 123-45-67</p>
        <p style="color: #000;"><strong>Email:</strong> partners@shvydkobuy.ua</p>
    </div>
</div>
<br />