@{
    ViewData["Sertification"] = "Sertification";
}
<h3>Запитання та відповіді</h3>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div style="text-align: left;">


    <h4 style="color: #9C12FF;">&#10003; Які способи оплати доступні в вашому магазині?</h4>
    <p style="color: gray;">У нас є можливість оплати готівкою, банківською карткою, а також онлайн-оплати через платіжні системи.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я повернути товар, якщо він мені не підійшов?</h4>
    <p style="color: gray;">Так, ви можете повернути товар протягом 14 днів з моменту покупки за умови, що він не був у використанні.</p>

    <h4 style="color: #9C12FF;">&#10003; Які терміни доставки?</h4>
    <p style="color: gray;">Доставка зазвичай займає від 1 до 5 робочих днів в залежності від вашого місцезнаходження.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я змінити адресу доставки після оформлення замовлення?</h4>
    <p style="color: gray;">Так, ви можете змінити адресу доставки, зв'язавшись з нашою службою підтримки до моменту відправлення замовлення.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи є у вас програма лояльності?</h4>
    <p style="color: gray;">Так, ми пропонуємо програму лояльності, яка дозволяє накопичувати бали за покупки та отримувати знижки на наступні замовлення.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я отримати консультацію перед покупкою?</h4>
    <p style="color: gray;">Так, наші менеджери готові надати консультацію щодо вибору товарів за телефоном або через чат на сайті.</p>

    <h4 style="color: #9C12FF;">&#10003; Як я можу перевірити статус свого замовлення?</h4>
    <p style="color: gray;">Ви можете перевірити статус замовлення в особистому кабінеті або звернувшись до служби підтримки.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я отримати товар безкоштовно?</h4>
    <p style="color: gray;">Безкоштовна доставка доступна при замовленні на певну суму. Деталі уточнюйте на сайті.</p>

    <h4 style="color: #9C12FF;">&#10003; Які гарантії на товари?</h4>
    <p style="color: gray;">На всі товари надається гарантія виробника, термін якої варіюється в залежності від продукту.</p>

    <h4 style="color: #9C12FF;">&#10003; Як здійснюється повернення товару?</h4>
    <p style="color: gray;">Для повернення товару вам потрібно заповнити форму повернення на нашому сайті та надіслати товар на наш склад.</p>



    <h4 style="color: #9C12FF;">&#10003; Чи можу я забрати товар самостійно?</h4>
    <p style="color: gray;">Так, ви можете вибрати самовивіз з нашого складу під час оформлення замовлення.</p>

    <h4 style="color: #9C12FF;">&#10003; Які розміри має товар?</h4>
    <p style="color: gray;">Розміри товару вказані в описі на сайті. Якщо у вас є додаткові питання, звертайтеся до нас.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я купити товар в кредит?</h4>
    <p style="color: gray;">Так, ми співпрацюємо з кількома банками для надання кредитних послуг при покупках.</p>

    <h4 style="color: #9C12FF;">&#10003; Як часто оновлюється асортимент?</h4>
    <p style="color: gray;">Наш асортимент оновлюється щотижня. Слідкуйте за новинами на нашому сайті!</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я замовити товар, якого немає в наявності?</h4>
    <p style="color: gray;">Так, ви можете залишити запит на товар, і ми повідомимо вас, коли він з'явиться.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я отримати знижку на оптове замовлення?</h4>
    <p style="color: gray;">Так, для оптових покупців діють спеціальні умови. Зв’яжіться з нашими менеджерами для деталей.</p>

    <h4 style="color: #9C12FF;">&#10003; Як часто проводяться акції?</h4>
    <p style="color: gray;">Акції проводяться регулярно. Слідкуйте за нашими новинами, щоб не пропустити вигідні пропозиції.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я обміняти товар на інший?</h4>
    <p style="color: gray;">Так, обмін товару можливий протягом 14 днів за умови збереження його упаковки та товарного вигляду.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи є у вас електронний каталог товарів?</h4>
    <p style="color: gray;">Так, наш електронний каталог доступний на сайті, де ви можете переглядати весь асортимент.</p>

    <h4 style="color: #9C12FF;">&#10003; Як я можу підписатися на новини магазину?</h4>
    <p style="color: gray;">Ви можете підписатися на новини, вказавши свою електронну адресу в нижній частині сайту.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я отримати товар у подарунок?</h4>
    <p style="color: gray;">Так, ми пропонуємо можливість упаковки товару в подарункову упаковку.</p>

    <h4 style="color: #9C12FF;">&#10003; Які є методи зв'язку з вами?</h4>
    <p style="color: gray;">Ви можете зв'язатися з нами через форму зворотного зв'язку на сайті або за телефонами, вказаними в контактах.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я отримати інформацію про товар по телефону?</h4>
    <p style="color: gray;">Так, наші менеджери готові відповісти на ваші запитання по телефону.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи є у вас мобільний додаток?</h4>
    <p style="color: gray;">Так, наш мобільний додаток доступний для Android та iOS. Ви можете завантажити його з відповідних магазинів.</p>

    <h4 style="color: #9C12FF;">&#10003; Яка політика конфіденційності вашого магазину?</h4>
    <p style="color: gray;">Ми дбаємо про вашу конфіденційність. Вся інформація захищається відповідно до політики конфіденційності.</p>

    <h4 style="color: #9C12FF;">&#10003; Чи можу я оформити замовлення без реєстрації?</h4>
    <p style="color: gray;">Так, ви можете оформити замовлення без реєстрації, але для повторних покупок рекомендуємо створити обліковий запис.</p>

    <h4 style="color: #9C12FF;">&#10003; Як знайти потрібний товар на сайті?</h4>
    <p style="color: gray;">
        Ви можете скористатися пошуковою формою на головній сторінці або переглянути категорії товарів.</p>
        </div>
       

   <br />
   <br />
