@{
    ViewData["RefundPage"] = "RefundPage";
}
<h2>Повернення товару</h2>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">
 

    <!-- Умови повернення товару -->
    <h3 style="color: black;">Умови повернення</h3>
    <p style="color: gray;">
        Ви маєте право повернути товар протягом 14 днів з моменту покупки. Повернення можливе, якщо товар:
    </p>
    <ul style="color: gray;">
        <li>Не був у використанні;</li>
        <li>Зберіг свою первісну упаковку;</li>
        <li>Має всі супутні документи (чек, гарантійний талон);</li>
    </ul>

    <!-- Процедура повернення -->
    <h3 style="color: black;">Процедура повернення</h3>
    <ol style="color: gray;">
        <li>Зв'яжіться з нашою службою підтримки для отримання інструкцій.</li>
        <li>Заповніть форму повернення, яку ми надамо.</li>
        <li>Упакуйте товар у оригінальну упаковку.</li>
        <li>Надішліть товар за вказаною адресою.</li>
    </ol>

    <!-- Часті питання -->
    <h3 style="color: black;">Часті питання</h3>
    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">Які товари не підлягають поверненню?</h4>
        <p style="color: gray;">Товари, що були у використанні, а також товари, що не мають оригінальної упаковки або документів.</p>
    </div>
    <div style="margin-bottom: 20px;">
        <h4 style="color: #9C12FF;">Коли я отримаю повернення коштів?</h4>
        <p style="color: gray;">Повернення коштів буде здійснене протягом 7-14 днів після отримання товару на наш склад.</p>
    </div>

    <!-- Контактна інформація -->
    <div>
        <h4 style="color: #9C12FF;">Зв'яжіться з нами для отримання допомоги</h4>
        <p style="color: gray;">Телефон: <span style="color: black;">+380 (50) 123 45 67</span></p>
        <p style="color: gray;">Електронна пошта: <span style="color: black;">support@швидкоbuy.ua</span></p>
    </div>
</div>
<br />