@{
    ViewData["Title"] = "Vacantion";
}
<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div>       
        <h2>Наразі немає відкритих вакансій</h2>
    </div>
</div>