@{
    ViewData["Title"] = "Vacantion";
}
<h3>Вакансії</h3>
<br />
<div class="row">
    <div class="col-12 col-md-12" style="min-width: 320px; min-height: 150px;">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item">
                    <img src="~/images_advertising/447355013.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/446107905.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/450027107.jpg" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item active">
                    <img src="~/images_advertising/CetSummer.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/BlackFriday.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>
                <div class="carousel-item">
                    <img src="~/images_advertising/ForFPV.png" class="d-block w-100 slider-img" alt="..." style="border-radius: 15px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br />
<div class="container">
 
    <div class="row">
        <div class="col-md-6">
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Менеджер з продажу</h4>
                <p style="color: gray;">Відповідає за розвиток клієнтської бази та виконання планів продажів.</p>
                <p style="color: black;">Телефон: +380 67 123 45 67</p>
                <p style="color: black;">Email: sales@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Спеціаліст з підтримки клієнтів</h4>
                <p style="color: gray;">Забезпечення якісної підтримки клієнтів по телефону та в онлайн-чатах.</p>
                <p style="color: black;">Телефон: +380 68 234 56 78</p>
                <p style="color: black;">Email: support@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Маркетолог</h4>
                <p style="color: gray;">Розробка та впровадження маркетингових стратегій для збільшення продажів.</p>
                <p style="color: black;">Телефон: +380 69 345 67 89</p>
                <p style="color: black;">Email: marketing@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Кур'єр</h4>
                <p style="color: gray;">Доставка товарів клієнтам у встановлені терміни.</p>
                <p style="color: black;">Телефон: +380 70 456 78 90</p>
                <p style="color: black;">Email: courier@shvidkobuy.com</p>
            </div>
        </div>
        <div class="col-md-6">
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Системний адміністратор</h4>
                <p style="color: gray;">Підтримка та обслуговування IT-інфраструктури компанії.</p>
                <p style="color: black;">Телефон: +380 71 567 89 01</p>
                <p style="color: black;">Email: it@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Розробник</h4>
                <p style="color: gray;">Створення та підтримка веб-додатків та сервісів.</p>
                <p style="color: black;">Телефон: +380 72 678 90 12</p>
                <p style="color: black;">Email: dev@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Дизайнер</h4>
                <p style="color: gray;">Розробка візуального контенту та дизайну для маркетингових матеріалів.</p>
                <p style="color: black;">Телефон: +380 73 789 01 23</p>
                <p style="color: black;">Email: design@shvidkobuy.com</p>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="color: #9C12FF;">Бухгалтер</h4>
                <p style="color: gray;">Ведення бухгалтерського обліку та підготовка звітності.</p>
                <p style="color: black;">Телефон: +380 74 890 12 34</p>
                <p style="color: black;">Email: accounting@shvidkobuy.com</p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
