@{
    ViewData["Sertification"] = "Sertification";
}
<h3>Подарункові сертифікати</h3>
<br />
<div class="row">
    <!-- Левая колонка -->
    <div class="col-md-4">

        <svg class="svg-element active" width="407" height="224" viewBox="0 0 407 224" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="407" height="224" rx="15" fill="url(#paint0_linear_0_1)" />
            <path d="M152.58 195.477C150.17 195.477 148.023 195.034 146.136 194.148C144.261 193.261 142.773 192.04 141.67 190.483C140.568 188.926 139.994 187.142 139.949 185.131H147.108C147.188 186.483 147.756 187.58 148.812 188.42C149.869 189.261 151.125 189.682 152.58 189.682C153.739 189.682 154.761 189.426 155.648 188.915C156.545 188.392 157.244 187.67 157.744 186.75C158.256 185.818 158.511 184.75 158.511 183.545C158.511 182.318 158.25 181.239 157.727 180.307C157.216 179.375 156.506 178.648 155.597 178.125C154.688 177.602 153.648 177.335 152.477 177.324C151.455 177.324 150.46 177.534 149.494 177.955C148.54 178.375 147.795 178.949 147.261 179.676L140.699 178.5L142.352 160.091H163.693V166.125H148.438L147.534 174.869H147.739C148.352 174.006 149.278 173.29 150.517 172.722C151.756 172.153 153.142 171.869 154.676 171.869C156.778 171.869 158.653 172.364 160.301 173.352C161.949 174.341 163.25 175.699 164.205 177.426C165.159 179.142 165.631 181.119 165.619 183.358C165.631 185.71 165.085 187.801 163.983 189.631C162.892 191.449 161.364 192.881 159.398 193.926C157.443 194.96 155.17 195.477 152.58 195.477ZM184.455 195.767C181.523 195.756 179 195.034 176.886 193.602C174.784 192.17 173.165 190.097 172.028 187.381C170.903 184.665 170.347 181.398 170.358 177.58C170.358 173.773 170.92 170.528 172.045 167.847C173.182 165.165 174.801 163.125 176.903 161.727C179.017 160.318 181.534 159.614 184.455 159.614C187.375 159.614 189.886 160.318 191.989 161.727C194.102 163.136 195.727 165.182 196.864 167.864C198 170.534 198.563 173.773 198.551 177.58C198.551 181.409 197.983 184.682 196.847 187.398C195.722 190.114 194.108 192.187 192.006 193.619C189.903 195.051 187.386 195.767 184.455 195.767ZM184.455 189.648C186.455 189.648 188.051 188.642 189.244 186.631C190.438 184.619 191.028 181.602 191.017 177.58C191.017 174.932 190.744 172.727 190.199 170.966C189.665 169.205 188.903 167.881 187.915 166.994C186.938 166.108 185.784 165.665 184.455 165.665C182.466 165.665 180.875 166.659 179.682 168.648C178.489 170.636 177.886 173.614 177.875 177.58C177.875 180.261 178.142 182.5 178.676 184.295C179.222 186.08 179.989 187.42 180.977 188.318C181.966 189.205 183.125 189.648 184.455 189.648ZM217.501 195.767C214.57 195.756 212.047 195.034 209.933 193.602C207.831 192.17 206.212 190.097 205.075 187.381C203.95 184.665 203.393 181.398 203.405 177.58C203.405 173.773 203.967 170.528 205.092 167.847C206.229 165.165 207.848 163.125 209.95 161.727C212.064 160.318 214.581 159.614 217.501 159.614C220.422 159.614 222.933 160.318 225.036 161.727C227.149 163.136 228.774 165.182 229.911 167.864C231.047 170.534 231.609 173.773 231.598 177.58C231.598 181.409 231.03 184.682 229.893 187.398C228.768 190.114 227.155 192.187 225.053 193.619C222.95 195.051 220.433 195.767 217.501 195.767ZM217.501 189.648C219.501 189.648 221.098 188.642 222.291 186.631C223.484 184.619 224.075 181.602 224.064 177.58C224.064 174.932 223.791 172.727 223.246 170.966C222.712 169.205 221.95 167.881 220.962 166.994C219.984 166.108 218.831 165.665 217.501 165.665C215.513 165.665 213.922 166.659 212.729 168.648C211.536 170.636 210.933 173.614 210.922 177.58C210.922 180.261 211.189 182.5 211.723 184.295C212.268 186.08 213.036 187.42 214.024 188.318C215.013 189.205 216.172 189.648 217.501 189.648ZM252.27 165.614C250.94 165.614 249.935 165.881 249.253 166.415C248.582 166.949 248.224 167.716 248.179 168.716H240.747C240.872 166.761 241.372 165.108 242.247 163.756C243.122 162.403 244.378 161.375 246.014 160.67C247.662 159.966 249.702 159.614 252.134 159.614C254.554 159.614 256.605 159.949 258.287 160.619C259.98 161.29 261.264 162.222 262.139 163.415C263.014 164.608 263.452 166.006 263.452 167.608C263.452 168.369 263.304 169.097 263.009 169.79C262.713 170.472 262.321 171.097 261.832 171.665C261.344 172.222 260.815 172.71 260.247 173.131L254.366 171.562C254.969 171.108 255.418 170.608 255.713 170.062C256.02 169.517 256.168 168.892 256.156 168.188C256.168 167.403 255.844 166.778 255.185 166.312C254.526 165.847 253.554 165.614 252.27 165.614ZM265.702 176.08H238.378V171.188H265.702V176.08ZM265.702 183.426H238.378V178.653H265.702V183.426ZM252.134 195.477C248.213 195.477 245.247 194.727 243.236 193.227C241.236 191.727 240.23 189.67 240.219 187.057C240.23 186.273 240.401 185.511 240.73 184.773C241.06 184.034 241.491 183.369 242.026 182.778C242.56 182.187 243.145 181.727 243.781 181.398L249.611 182.83C248.952 183.284 248.452 183.847 248.111 184.517C247.77 185.187 247.594 185.841 247.582 186.477C247.594 187.455 248.003 188.21 248.81 188.744C249.628 189.278 250.736 189.545 252.134 189.545C253.531 189.545 254.656 189.278 255.509 188.744C256.372 188.21 256.838 187.29 256.906 185.983H264.423C264.298 188.176 263.781 189.972 262.872 191.369C261.974 192.767 260.639 193.801 258.866 194.472C257.094 195.142 254.849 195.477 252.134 195.477Z" fill="white" />
            <path d="M118.8 44.6238V56.2238C118.8 59.8238 119.52 61.4238 121.72 61.4238C124.12 61.4238 125.4 59.6238 125.4 55.4238V44.6238H131V65.4238H125.6V62.0238H125.4C125.4 62.0238 124 66.0238 119.8 66.0238C116.44 66.0238 114.68 64.4638 113.84 62.0238H113.6C113.6 62.0238 111.8 66.0238 107.6 66.0238C102.4 66.0238 101 62.2238 101 57.4238V44.6238H106.6V56.2238C106.6 59.8238 107.32 61.4238 109.52 61.4238C111.92 61.4238 113.2 59.6238 113.2 55.4238V44.6238H118.8ZM132.992 65.4238V44.6238H142.992C148.392 44.6238 151.192 46.4238 151.192 50.2238C151.192 53.6238 147.992 54.4238 147.992 54.4238V54.6238C147.992 54.6238 151.792 55.4238 151.792 59.4238C151.792 63.4238 149.192 65.4238 143.592 65.4238H132.992ZM142.992 56.6238H138.592V61.4238H143.392C145.192 61.4238 146.192 60.6238 146.192 59.0238C146.192 57.4238 144.992 56.6238 142.992 56.6238ZM138.592 53.0238H142.592C144.592 53.0238 145.592 52.2238 145.592 50.8238C145.592 49.4238 144.792 48.6238 142.992 48.6238H138.592V53.0238ZM172.783 44.6238V65.4238H167.383V62.0238H167.183C167.183 62.0238 165.383 66.0238 160.783 66.0238C154.983 66.0238 153.383 62.2238 153.383 57.4238V44.6238H158.983V56.2238C158.983 59.8238 159.983 61.4238 162.583 61.4238C165.583 61.4238 167.183 59.6238 167.183 55.4238V44.6238H172.783ZM195.589 44.6238V63.0238C195.589 69.0238 192.389 73.2238 185.189 73.2238C175.589 73.2238 175.389 66.0238 175.389 66.0238H180.989C180.989 66.0238 181.189 69.0238 185.189 69.0238C188.749 69.0238 189.989 67.0238 189.989 63.4238V62.4238H189.789C189.789 62.4238 187.989 65.2238 183.589 65.2238C177.589 65.2238 174.589 60.0238 174.589 54.6238C174.589 49.2238 177.589 44.0238 183.589 44.0238C188.189 44.0238 189.989 47.4238 189.989 47.4238H190.189V44.6238H195.589ZM190.189 54.6238C190.189 51.2638 188.589 48.2238 185.189 48.2238C181.789 48.2238 180.189 51.2638 180.189 54.6238C180.189 57.9838 181.789 61.0238 185.189 61.0238C188.589 61.0238 190.189 57.9838 190.189 54.6238ZM197.602 65.4238V44.6238H203.202V53.0238L210.602 44.6238H217.202L209.362 52.7438L217.602 65.4238H210.762L205.482 56.7438L203.202 59.1038V65.4238H197.602ZM222.416 55.0238C222.416 58.7838 223.856 61.8238 227.416 61.8238C230.976 61.8238 232.416 58.7838 232.416 55.0238C232.416 51.2638 230.976 48.2238 227.416 48.2238C223.856 48.2238 222.416 51.2638 222.416 55.0238ZM216.816 55.0238C216.816 48.9438 220.576 44.0238 227.416 44.0238C234.256 44.0238 238.016 48.9438 238.016 55.0238C238.016 61.1038 234.256 66.0238 227.416 66.0238C220.576 66.0238 216.816 61.1038 216.816 55.0238ZM239.828 65.4238V44.6238H249.828C255.228 44.6238 258.028 46.4238 258.028 50.2238C258.028 53.6238 254.828 54.4238 254.828 54.4238V54.6238C254.828 54.6238 258.628 55.4238 258.628 59.4238C258.628 63.4238 256.028 65.4238 250.428 65.4238H239.828ZM249.828 56.6238H245.428V61.4238H250.228C252.028 61.4238 253.028 60.6238 253.028 59.0238C253.028 57.4238 251.828 56.6238 249.828 56.6238ZM245.428 53.0238H249.428C251.428 53.0238 252.428 52.2238 252.428 50.8238C252.428 49.4238 251.628 48.6238 249.828 48.6238H245.428V53.0238ZM279.619 44.6238V65.4238H274.219V62.0238H274.019C274.019 62.0238 272.219 66.0238 267.619 66.0238C261.819 66.0238 260.219 62.2238 260.219 57.4238V44.6238H265.819V56.2238C265.819 59.8238 266.819 61.4238 269.419 61.4238C272.419 61.4238 274.019 59.6238 274.019 55.4238V44.6238H279.619ZM302.225 44.6238L294.825 66.0238C293.185 70.7838 291.025 73.2238 286.825 73.2238C284.825 73.2238 283.225 72.6238 283.225 72.6238V68.0238C283.225 68.0238 284.425 68.4238 285.825 68.4238C287.825 68.4238 288.625 67.3438 289.425 65.4238L281.025 44.6238H287.025L292.105 58.3438L296.225 44.6238H302.225Z" fill="white" />
            <defs>
                <linearGradient id="paint0_linear_0_1" x1="3.36141e-07" y1="8.5" x2="407" y2="224" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#C82090" />
                    <stop offset="1" stop-color="#6A14D1" />
                </linearGradient>
            </defs>
        </svg>
      
        <br />
        <br />
        <!-- Telephon -->
        <div class="mb-3 scretch-field">
            <label for="Tel" class="form-label" style="color:#6B6B6B">Номер телефону</label>
            <input type="text" class="enter-reg" id="Tel">
        </div>

        <!-- Email -->
        <div class="mb-3 electronic-field" style="display: none;">
            <label for="Email" class="form-label" style="color:#6B6B6B">Електронна пошта користувача</label>
            <input type="text" class="enter-reg" id="Email">
        </div>

        <!-- Data -->
        <div class="mb-3">
            <label for="Date" class="form-label" style="color:#6B6B6B">Дата доставки</label>
            <input type="date" class="enter-reg" id="Date" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required>
        </div>



        <!-- Scretch -->
        <div class="form-check">
            <input class="form-check-input custom-radio" type="radio" name="certificateType" id="scretch" value="scretch" checked>
            <label class="form-check-label" for="scretch">Скретч-сертифікат</label>
        </div>

        <!-- Electronic -->
        <div class="form-check">
            <input class="form-check-input custom-radio" type="radio" name="certificateType" id="electronic" value="electronic">
            <label class="form-check-label" for="electronic">Електронний сертифікат</label>
        </div>

        <!-- Anonimno -->
        <div style="margin-top: 6px;">
            <input class="custom-checkbox" type="checkbox" name="Anonim" id="Anonim" style="margin: 0px">
            <label class="form-check-label" for="Anonim" style="position: relative; top: -4px;">Подарувати анонімно</label>
        </div>
   
    </div>

    <!-- Центральная колонка -->
   <div class="col-md-4">

        <svg class="svg-element" width="407" height="224" viewBox="0 0 407 224" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="407" height="224" rx="15" fill="url(#paint0_linear_0_1)" />
            <path d="M142.017 160.091V195H134.636V167.097H134.432L126.438 172.108V165.562L135.08 160.091H142.017ZM164.001 195.767C161.07 195.756 158.547 195.034 156.433 193.602C154.331 192.17 152.712 190.097 151.575 187.381C150.45 184.665 149.893 181.398 149.905 177.58C149.905 173.773 150.467 170.528 151.592 167.847C152.729 165.165 154.348 163.125 156.45 161.727C158.564 160.318 161.081 159.614 164.001 159.614C166.922 159.614 169.433 160.318 171.536 161.727C173.649 163.136 175.274 165.182 176.411 167.864C177.547 170.534 178.109 173.773 178.098 177.58C178.098 181.409 177.53 184.682 176.393 187.398C175.268 190.114 173.655 192.187 171.553 193.619C169.45 195.051 166.933 195.767 164.001 195.767ZM164.001 189.648C166.001 189.648 167.598 188.642 168.791 186.631C169.984 184.619 170.575 181.602 170.564 177.58C170.564 174.932 170.291 172.727 169.746 170.966C169.212 169.205 168.45 167.881 167.462 166.994C166.484 166.108 165.331 165.665 164.001 165.665C162.013 165.665 160.422 166.659 159.229 168.648C158.036 170.636 157.433 173.614 157.422 177.58C157.422 180.261 157.689 182.5 158.223 184.295C158.768 186.08 159.536 187.42 160.524 188.318C161.513 189.205 162.672 189.648 164.001 189.648ZM197.048 195.767C194.116 195.756 191.594 195.034 189.48 193.602C187.378 192.17 185.759 190.097 184.622 187.381C183.497 184.665 182.94 181.398 182.952 177.58C182.952 173.773 183.514 170.528 184.639 167.847C185.776 165.165 187.395 163.125 189.497 161.727C191.611 160.318 194.128 159.614 197.048 159.614C199.969 159.614 202.48 160.318 204.582 161.727C206.696 163.136 208.321 165.182 209.457 167.864C210.594 170.534 211.156 173.773 211.145 177.58C211.145 181.409 210.577 184.682 209.44 187.398C208.315 190.114 206.702 192.187 204.599 193.619C202.497 195.051 199.98 195.767 197.048 195.767ZM197.048 189.648C199.048 189.648 200.645 188.642 201.838 186.631C203.031 184.619 203.622 181.602 203.611 177.58C203.611 174.932 203.338 172.727 202.793 170.966C202.259 169.205 201.497 167.881 200.509 166.994C199.531 166.108 198.378 165.665 197.048 165.665C195.06 165.665 193.469 166.659 192.276 168.648C191.082 170.636 190.48 173.614 190.469 177.58C190.469 180.261 190.736 182.5 191.27 184.295C191.815 186.08 192.582 187.42 193.571 188.318C194.56 189.205 195.719 189.648 197.048 189.648ZM230.095 195.767C227.163 195.756 224.641 195.034 222.527 193.602C220.425 192.17 218.805 190.097 217.669 187.381C216.544 184.665 215.987 181.398 215.999 177.58C215.999 173.773 216.561 170.528 217.686 167.847C218.822 165.165 220.442 163.125 222.544 161.727C224.658 160.318 227.175 159.614 230.095 159.614C233.016 159.614 235.527 160.318 237.629 161.727C239.743 163.136 241.368 165.182 242.504 167.864C243.641 170.534 244.203 173.773 244.192 177.58C244.192 181.409 243.624 184.682 242.487 187.398C241.362 190.114 239.749 192.187 237.646 193.619C235.544 195.051 233.027 195.767 230.095 195.767ZM230.095 189.648C232.095 189.648 233.692 188.642 234.885 186.631C236.078 184.619 236.669 181.602 236.658 177.58C236.658 174.932 236.385 172.727 235.839 170.966C235.305 169.205 234.544 167.881 233.555 166.994C232.578 166.108 231.425 165.665 230.095 165.665C228.107 165.665 226.516 166.659 225.322 168.648C224.129 170.636 223.527 173.614 223.516 177.58C223.516 180.261 223.783 182.5 224.317 184.295C224.862 186.08 225.629 187.42 226.618 188.318C227.607 189.205 228.766 189.648 230.095 189.648ZM264.864 165.614C263.534 165.614 262.528 165.881 261.847 166.415C261.176 166.949 260.818 167.716 260.773 168.716H253.341C253.466 166.761 253.966 165.108 254.841 163.756C255.716 162.403 256.972 161.375 258.608 160.67C260.256 159.966 262.295 159.614 264.727 159.614C267.148 159.614 269.199 159.949 270.881 160.619C272.574 161.29 273.858 162.222 274.733 163.415C275.608 164.608 276.045 166.006 276.045 167.608C276.045 168.369 275.898 169.097 275.602 169.79C275.307 170.472 274.915 171.097 274.426 171.665C273.938 172.222 273.409 172.71 272.841 173.131L266.96 171.562C267.563 171.108 268.011 170.608 268.307 170.062C268.614 169.517 268.761 168.892 268.75 168.188C268.761 167.403 268.438 166.778 267.778 166.312C267.119 165.847 266.148 165.614 264.864 165.614ZM278.295 176.08H250.972V171.188H278.295V176.08ZM278.295 183.426H250.972V178.653H278.295V183.426ZM264.727 195.477C260.807 195.477 257.841 194.727 255.83 193.227C253.83 191.727 252.824 189.67 252.812 187.057C252.824 186.273 252.994 185.511 253.324 184.773C253.653 184.034 254.085 183.369 254.619 182.778C255.153 182.187 255.739 181.727 256.375 181.398L262.205 182.83C261.545 183.284 261.045 183.847 260.705 184.517C260.364 185.187 260.188 185.841 260.176 186.477C260.188 187.455 260.597 188.21 261.403 188.744C262.222 189.278 263.33 189.545 264.727 189.545C266.125 189.545 267.25 189.278 268.102 188.744C268.966 188.21 269.432 187.29 269.5 185.983H277.017C276.892 188.176 276.375 189.972 275.466 191.369C274.568 192.767 273.233 193.801 271.46 194.472C269.688 195.142 267.443 195.477 264.727 195.477Z" fill="white" />
            <path d="M118.8 44.6238V56.2238C118.8 59.8238 119.52 61.4238 121.72 61.4238C124.12 61.4238 125.4 59.6238 125.4 55.4238V44.6238H131V65.4238H125.6V62.0238H125.4C125.4 62.0238 124 66.0238 119.8 66.0238C116.44 66.0238 114.68 64.4638 113.84 62.0238H113.6C113.6 62.0238 111.8 66.0238 107.6 66.0238C102.4 66.0238 101 62.2238 101 57.4238V44.6238H106.6V56.2238C106.6 59.8238 107.32 61.4238 109.52 61.4238C111.92 61.4238 113.2 59.6238 113.2 55.4238V44.6238H118.8ZM132.992 65.4238V44.6238H142.992C148.392 44.6238 151.192 46.4238 151.192 50.2238C151.192 53.6238 147.992 54.4238 147.992 54.4238V54.6238C147.992 54.6238 151.792 55.4238 151.792 59.4238C151.792 63.4238 149.192 65.4238 143.592 65.4238H132.992ZM142.992 56.6238H138.592V61.4238H143.392C145.192 61.4238 146.192 60.6238 146.192 59.0238C146.192 57.4238 144.992 56.6238 142.992 56.6238ZM138.592 53.0238H142.592C144.592 53.0238 145.592 52.2238 145.592 50.8238C145.592 49.4238 144.792 48.6238 142.992 48.6238H138.592V53.0238ZM172.783 44.6238V65.4238H167.383V62.0238H167.183C167.183 62.0238 165.383 66.0238 160.783 66.0238C154.983 66.0238 153.383 62.2238 153.383 57.4238V44.6238H158.983V56.2238C158.983 59.8238 159.983 61.4238 162.583 61.4238C165.583 61.4238 167.183 59.6238 167.183 55.4238V44.6238H172.783ZM195.589 44.6238V63.0238C195.589 69.0238 192.389 73.2238 185.189 73.2238C175.589 73.2238 175.389 66.0238 175.389 66.0238H180.989C180.989 66.0238 181.189 69.0238 185.189 69.0238C188.749 69.0238 189.989 67.0238 189.989 63.4238V62.4238H189.789C189.789 62.4238 187.989 65.2238 183.589 65.2238C177.589 65.2238 174.589 60.0238 174.589 54.6238C174.589 49.2238 177.589 44.0238 183.589 44.0238C188.189 44.0238 189.989 47.4238 189.989 47.4238H190.189V44.6238H195.589ZM190.189 54.6238C190.189 51.2638 188.589 48.2238 185.189 48.2238C181.789 48.2238 180.189 51.2638 180.189 54.6238C180.189 57.9838 181.789 61.0238 185.189 61.0238C188.589 61.0238 190.189 57.9838 190.189 54.6238ZM197.602 65.4238V44.6238H203.202V53.0238L210.602 44.6238H217.202L209.362 52.7438L217.602 65.4238H210.762L205.482 56.7438L203.202 59.1038V65.4238H197.602ZM222.416 55.0238C222.416 58.7838 223.856 61.8238 227.416 61.8238C230.976 61.8238 232.416 58.7838 232.416 55.0238C232.416 51.2638 230.976 48.2238 227.416 48.2238C223.856 48.2238 222.416 51.2638 222.416 55.0238ZM216.816 55.0238C216.816 48.9438 220.576 44.0238 227.416 44.0238C234.256 44.0238 238.016 48.9438 238.016 55.0238C238.016 61.1038 234.256 66.0238 227.416 66.0238C220.576 66.0238 216.816 61.1038 216.816 55.0238ZM239.828 65.4238V44.6238H249.828C255.228 44.6238 258.028 46.4238 258.028 50.2238C258.028 53.6238 254.828 54.4238 254.828 54.4238V54.6238C254.828 54.6238 258.628 55.4238 258.628 59.4238C258.628 63.4238 256.028 65.4238 250.428 65.4238H239.828ZM249.828 56.6238H245.428V61.4238H250.228C252.028 61.4238 253.028 60.6238 253.028 59.0238C253.028 57.4238 251.828 56.6238 249.828 56.6238ZM245.428 53.0238H249.428C251.428 53.0238 252.428 52.2238 252.428 50.8238C252.428 49.4238 251.628 48.6238 249.828 48.6238H245.428V53.0238ZM279.619 44.6238V65.4238H274.219V62.0238H274.019C274.019 62.0238 272.219 66.0238 267.619 66.0238C261.819 66.0238 260.219 62.2238 260.219 57.4238V44.6238H265.819V56.2238C265.819 59.8238 266.819 61.4238 269.419 61.4238C272.419 61.4238 274.019 59.6238 274.019 55.4238V44.6238H279.619ZM302.225 44.6238L294.825 66.0238C293.185 70.7838 291.025 73.2238 286.825 73.2238C284.825 73.2238 283.225 72.6238 283.225 72.6238V68.0238C283.225 68.0238 284.425 68.4238 285.825 68.4238C287.825 68.4238 288.625 67.3438 289.425 65.4238L281.025 44.6238H287.025L292.105 58.3438L296.225 44.6238H302.225Z" fill="white" />
            <defs>
                <linearGradient id="paint0_linear_0_1" x1="3.36141e-07" y1="8.5" x2="407" y2="224" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#C82090" />
                    <stop offset="1" stop-color="#6A14D1" />
                </linearGradient>
            </defs>
        </svg>

     
        <br />
        <br />
        <!-- Ім’я -->
        <div class="mb-3 scretch-field">
            <label for="name" class="form-label" style="color:#6B6B6B">Ім’я</label>
            <input type="text" class="enter-reg" id="Name">
        </div>

        <!-- Прізвище -->
        <div class="mb-3 scretch-field">
            <label for="SecondName" class="form-label" style="color:#6B6B6B">Прізвище</label>
            <input type="text" class="enter-reg" id="SecondName">
        </div>

        <!-- Місто або Населений пункт -->
        <div class="mb-3 scretch-field">
            <label for="City" class="form-label" style="color:#6B6B6B">Місто або Населений пункт</label>
            <input type="text" class="enter-reg" id="City">
        </div>

        <!-- Відділення Нової Пошти -->
        <div class="mb-3 scretch-field">
            <label for="PostNumber" class="form-label" style="color:#6B6B6B">Відділення Нової Пошти</label>
            <input type="text" class="enter-reg" id="PostNumber">
        </div>

        <br />
         <br />
        <br />
       
    </div>

    <!-- Правая колонка: Товары -->
    <div class="col-md-4">
       
        <svg class="svg-element" width="407" height="224" viewBox="0 0 407 224" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="407" height="224" rx="15" fill="url(#paint0_linear_0_1)" />
            <path d="M118.8 44.6238V56.2238C118.8 59.8238 119.52 61.4238 121.72 61.4238C124.12 61.4238 125.4 59.6238 125.4 55.4238V44.6238H131V65.4238H125.6V62.0238H125.4C125.4 62.0238 124 66.0238 119.8 66.0238C116.44 66.0238 114.68 64.4638 113.84 62.0238H113.6C113.6 62.0238 111.8 66.0238 107.6 66.0238C102.4 66.0238 101 62.2238 101 57.4238V44.6238H106.6V56.2238C106.6 59.8238 107.32 61.4238 109.52 61.4238C111.92 61.4238 113.2 59.6238 113.2 55.4238V44.6238H118.8ZM132.992 65.4238V44.6238H142.992C148.392 44.6238 151.192 46.4238 151.192 50.2238C151.192 53.6238 147.992 54.4238 147.992 54.4238V54.6238C147.992 54.6238 151.792 55.4238 151.792 59.4238C151.792 63.4238 149.192 65.4238 143.592 65.4238H132.992ZM142.992 56.6238H138.592V61.4238H143.392C145.192 61.4238 146.192 60.6238 146.192 59.0238C146.192 57.4238 144.992 56.6238 142.992 56.6238ZM138.592 53.0238H142.592C144.592 53.0238 145.592 52.2238 145.592 50.8238C145.592 49.4238 144.792 48.6238 142.992 48.6238H138.592V53.0238ZM172.783 44.6238V65.4238H167.383V62.0238H167.183C167.183 62.0238 165.383 66.0238 160.783 66.0238C154.983 66.0238 153.383 62.2238 153.383 57.4238V44.6238H158.983V56.2238C158.983 59.8238 159.983 61.4238 162.583 61.4238C165.583 61.4238 167.183 59.6238 167.183 55.4238V44.6238H172.783ZM195.589 44.6238V63.0238C195.589 69.0238 192.389 73.2238 185.189 73.2238C175.589 73.2238 175.389 66.0238 175.389 66.0238H180.989C180.989 66.0238 181.189 69.0238 185.189 69.0238C188.749 69.0238 189.989 67.0238 189.989 63.4238V62.4238H189.789C189.789 62.4238 187.989 65.2238 183.589 65.2238C177.589 65.2238 174.589 60.0238 174.589 54.6238C174.589 49.2238 177.589 44.0238 183.589 44.0238C188.189 44.0238 189.989 47.4238 189.989 47.4238H190.189V44.6238H195.589ZM190.189 54.6238C190.189 51.2638 188.589 48.2238 185.189 48.2238C181.789 48.2238 180.189 51.2638 180.189 54.6238C180.189 57.9838 181.789 61.0238 185.189 61.0238C188.589 61.0238 190.189 57.9838 190.189 54.6238ZM197.602 65.4238V44.6238H203.202V53.0238L210.602 44.6238H217.202L209.362 52.7438L217.602 65.4238H210.762L205.482 56.7438L203.202 59.1038V65.4238H197.602ZM222.416 55.0238C222.416 58.7838 223.856 61.8238 227.416 61.8238C230.976 61.8238 232.416 58.7838 232.416 55.0238C232.416 51.2638 230.976 48.2238 227.416 48.2238C223.856 48.2238 222.416 51.2638 222.416 55.0238ZM216.816 55.0238C216.816 48.9438 220.576 44.0238 227.416 44.0238C234.256 44.0238 238.016 48.9438 238.016 55.0238C238.016 61.1038 234.256 66.0238 227.416 66.0238C220.576 66.0238 216.816 61.1038 216.816 55.0238ZM239.828 65.4238V44.6238H249.828C255.228 44.6238 258.028 46.4238 258.028 50.2238C258.028 53.6238 254.828 54.4238 254.828 54.4238V54.6238C254.828 54.6238 258.628 55.4238 258.628 59.4238C258.628 63.4238 256.028 65.4238 250.428 65.4238H239.828ZM249.828 56.6238H245.428V61.4238H250.228C252.028 61.4238 253.028 60.6238 253.028 59.0238C253.028 57.4238 251.828 56.6238 249.828 56.6238ZM245.428 53.0238H249.428C251.428 53.0238 252.428 52.2238 252.428 50.8238C252.428 49.4238 251.628 48.6238 249.828 48.6238H245.428V53.0238ZM279.619 44.6238V65.4238H274.219V62.0238H274.019C274.019 62.0238 272.219 66.0238 267.619 66.0238C261.819 66.0238 260.219 62.2238 260.219 57.4238V44.6238H265.819V56.2238C265.819 59.8238 266.819 61.4238 269.419 61.4238C272.419 61.4238 274.019 59.6238 274.019 55.4238V44.6238H279.619ZM302.225 44.6238L294.825 66.0238C293.185 70.7838 291.025 73.2238 286.825 73.2238C284.825 73.2238 283.225 72.6238 283.225 72.6238V68.0238C283.225 68.0238 284.425 68.4238 285.825 68.4238C287.825 68.4238 288.625 67.3438 289.425 65.4238L281.025 44.6238H287.025L292.105 58.3438L296.225 44.6238H302.225Z" fill="white" />
            <path d="M123.83 195V189.682L136.256 178.176C137.313 177.153 138.199 176.233 138.915 175.415C139.642 174.597 140.193 173.795 140.568 173.011C140.943 172.216 141.131 171.358 141.131 170.438C141.131 169.415 140.898 168.534 140.432 167.795C139.966 167.045 139.33 166.472 138.523 166.074C137.716 165.665 136.801 165.46 135.778 165.46C134.71 165.46 133.778 165.676 132.983 166.108C132.188 166.54 131.574 167.159 131.142 167.966C130.71 168.773 130.494 169.733 130.494 170.847H123.489C123.489 168.562 124.006 166.58 125.04 164.898C126.074 163.216 127.523 161.915 129.386 160.994C131.25 160.074 133.398 159.614 135.83 159.614C138.33 159.614 140.506 160.057 142.358 160.943C144.222 161.818 145.67 163.034 146.705 164.591C147.739 166.148 148.256 167.932 148.256 169.943C148.256 171.261 147.994 172.562 147.472 173.847C146.96 175.131 146.045 176.557 144.727 178.125C143.409 179.682 141.551 181.551 139.153 183.733L134.057 188.727V188.966H148.716V195H123.83ZM167.751 195.767C164.82 195.756 162.297 195.034 160.183 193.602C158.081 192.17 156.462 190.097 155.325 187.381C154.2 184.665 153.643 181.398 153.655 177.58C153.655 173.773 154.217 170.528 155.342 167.847C156.479 165.165 158.098 163.125 160.2 161.727C162.314 160.318 164.831 159.614 167.751 159.614C170.672 159.614 173.183 160.318 175.286 161.727C177.399 163.136 179.024 165.182 180.161 167.864C181.297 170.534 181.859 173.773 181.848 177.58C181.848 181.409 181.28 184.682 180.143 187.398C179.018 190.114 177.405 192.187 175.303 193.619C173.2 195.051 170.683 195.767 167.751 195.767ZM167.751 189.648C169.751 189.648 171.348 188.642 172.541 186.631C173.734 184.619 174.325 181.602 174.314 177.58C174.314 174.932 174.041 172.727 173.496 170.966C172.962 169.205 172.2 167.881 171.212 166.994C170.234 166.108 169.081 165.665 167.751 165.665C165.763 165.665 164.172 166.659 162.979 168.648C161.786 170.636 161.183 173.614 161.172 177.58C161.172 180.261 161.439 182.5 161.973 184.295C162.518 186.08 163.286 187.42 164.274 188.318C165.263 189.205 166.422 189.648 167.751 189.648ZM200.798 195.767C197.866 195.756 195.344 195.034 193.23 193.602C191.128 192.17 189.509 190.097 188.372 187.381C187.247 184.665 186.69 181.398 186.702 177.58C186.702 173.773 187.264 170.528 188.389 167.847C189.526 165.165 191.145 163.125 193.247 161.727C195.361 160.318 197.878 159.614 200.798 159.614C203.719 159.614 206.23 160.318 208.332 161.727C210.446 163.136 212.071 165.182 213.207 167.864C214.344 170.534 214.906 173.773 214.895 177.58C214.895 181.409 214.327 184.682 213.19 187.398C212.065 190.114 210.452 192.187 208.349 193.619C206.247 195.051 203.73 195.767 200.798 195.767ZM200.798 189.648C202.798 189.648 204.395 188.642 205.588 186.631C206.781 184.619 207.372 181.602 207.361 177.58C207.361 174.932 207.088 172.727 206.543 170.966C206.009 169.205 205.247 167.881 204.259 166.994C203.281 166.108 202.128 165.665 200.798 165.665C198.81 165.665 197.219 166.659 196.026 168.648C194.832 170.636 194.23 173.614 194.219 177.58C194.219 180.261 194.486 182.5 195.02 184.295C195.565 186.08 196.332 187.42 197.321 188.318C198.31 189.205 199.469 189.648 200.798 189.648ZM233.845 195.767C230.913 195.756 228.391 195.034 226.277 193.602C224.175 192.17 222.555 190.097 221.419 187.381C220.294 184.665 219.737 181.398 219.749 177.58C219.749 173.773 220.311 170.528 221.436 167.847C222.572 165.165 224.192 163.125 226.294 161.727C228.408 160.318 230.925 159.614 233.845 159.614C236.766 159.614 239.277 160.318 241.379 161.727C243.493 163.136 245.118 165.182 246.254 167.864C247.391 170.534 247.953 173.773 247.942 177.58C247.942 181.409 247.374 184.682 246.237 187.398C245.112 190.114 243.499 192.187 241.396 193.619C239.294 195.051 236.777 195.767 233.845 195.767ZM233.845 189.648C235.845 189.648 237.442 188.642 238.635 186.631C239.828 184.619 240.419 181.602 240.408 177.58C240.408 174.932 240.135 172.727 239.589 170.966C239.055 169.205 238.294 167.881 237.305 166.994C236.328 166.108 235.175 165.665 233.845 165.665C231.857 165.665 230.266 166.659 229.072 168.648C227.879 170.636 227.277 173.614 227.266 177.58C227.266 180.261 227.533 182.5 228.067 184.295C228.612 186.08 229.379 187.42 230.368 188.318C231.357 189.205 232.516 189.648 233.845 189.648ZM268.614 165.614C267.284 165.614 266.278 165.881 265.597 166.415C264.926 166.949 264.568 167.716 264.523 168.716H257.091C257.216 166.761 257.716 165.108 258.591 163.756C259.466 162.403 260.722 161.375 262.358 160.67C264.006 159.966 266.045 159.614 268.477 159.614C270.898 159.614 272.949 159.949 274.631 160.619C276.324 161.29 277.608 162.222 278.483 163.415C279.358 164.608 279.795 166.006 279.795 167.608C279.795 168.369 279.648 169.097 279.352 169.79C279.057 170.472 278.665 171.097 278.176 171.665C277.688 172.222 277.159 172.71 276.591 173.131L270.71 171.562C271.313 171.108 271.761 170.608 272.057 170.062C272.364 169.517 272.511 168.892 272.5 168.188C272.511 167.403 272.188 166.778 271.528 166.312C270.869 165.847 269.898 165.614 268.614 165.614ZM282.045 176.08H254.722V171.188H282.045V176.08ZM282.045 183.426H254.722V178.653H282.045V183.426ZM268.477 195.477C264.557 195.477 261.591 194.727 259.58 193.227C257.58 191.727 256.574 189.67 256.562 187.057C256.574 186.273 256.744 185.511 257.074 184.773C257.403 184.034 257.835 183.369 258.369 182.778C258.903 182.187 259.489 181.727 260.125 181.398L265.955 182.83C265.295 183.284 264.795 183.847 264.455 184.517C264.114 185.187 263.938 185.841 263.926 186.477C263.938 187.455 264.347 188.21 265.153 188.744C265.972 189.278 267.08 189.545 268.477 189.545C269.875 189.545 271 189.278 271.852 188.744C272.716 188.21 273.182 187.29 273.25 185.983H280.767C280.642 188.176 280.125 189.972 279.216 191.369C278.318 192.767 276.983 193.801 275.21 194.472C273.438 195.142 271.193 195.477 268.477 195.477Z" fill="white" />
            <defs>
                <linearGradient id="paint0_linear_0_1" x1="3.36141e-07" y1="8.5" x2="407" y2="224" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#C82090" />
                    <stop offset="1" stop-color="#6A14D1" />
                </linearGradient>
            </defs>
        </svg>
      
        <br />


        <form action="@Url.Action("Index", "SuccessOrderCart")" method="post" style="margin-top: 50px;">
            <button type="submit" class="btn btn-purple" id="submitBtn" disabled style="width: 25%; float: right; margin-right: 75px;">Подарувати</button>
           
        </form> 


    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Получаем ссылки на элементы
            const scretchRadio = document.getElementById('scretch');
            const electronicRadio = document.getElementById('electronic');
            const scretchFields = document.querySelectorAll('.scretch-field');
            const electronicFields = document.querySelectorAll('.electronic-field');

            // Функция для переключения видимости полей
            function toggleFields() {
                if (scretchRadio.checked) {
                    // Показать поля для скретч-сертификата
                    scretchFields.forEach(field => field.style.display = 'block');
                    // Скрыть поля для электронного сертификата
                    electronicFields.forEach(field => field.style.display = 'none');
                } else if (electronicRadio.checked) {
                    // Показать поля для электронного сертификата
                    electronicFields.forEach(field => field.style.display = 'block');
                    // Скрыть поля для скретч-сертификата
                    scretchFields.forEach(field => field.style.display = 'none');
                }
            }

            // Обработчики событий на переключение радио-кнопок
            scretchRadio.addEventListener('change', toggleFields);
            electronicRadio.addEventListener('change', toggleFields);

            // Первоначальная проверка при загрузке страницы
            toggleFields();
        });


        document.addEventListener("DOMContentLoaded", function () {
            const telInput = document.getElementById("Tel");
            const emailInput = document.getElementById("Email");
            const dateInput = document.getElementById("Date");
            const nameInput = document.getElementById("Name");
            const secondNameInput = document.getElementById("SecondName");
            const cityInput = document.getElementById("City");
            const postNumberInput = document.getElementById("PostNumber");
            const submitBtn = document.getElementById("submitBtn");
            const scretchRadio = document.getElementById("scretch");
            const electronicRadio = document.getElementById("electronic");

            function validatePhone(phone) {
                return /^\d{10}$/.test(phone); // Номер должен содержать ровно 10 цифр
            }

            function validateEmail(email) {
                const emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
                return emailPattern.test(email); // Проверка формата email
            }

            function validateDate(date) {
                const today = new Date();
                const selectedDate = new Date(date);

                // Проверяем, что выбранная дата не раньше сегодняшнего дня
                return selectedDate >= today;
            }

            function validatePostNumber(postNumber) {
                return /^\d+$/.test(postNumber) && postNumber > 0; // Только цифры и больше 0
            }

            // Проверка, видимо ли поле
            function isFieldVisible(field) {
                return field.parentElement.style.display !== 'none';
            }

            // Общая валидация формы, только видимые поля
            function validateForm() {
                const isValid =
                    (!isFieldVisible(telInput) || validatePhone(telInput.value)) &&
                    (!isFieldVisible(emailInput) || validateEmail(emailInput.value)) &&
                    (!isFieldVisible(dateInput) || validateDate(dateInput.value)) &&
                    (!isFieldVisible(nameInput) || nameInput.value.trim() !== "") &&
                    (!isFieldVisible(secondNameInput) || secondNameInput.value.trim() !== "") &&
                    (!isFieldVisible(cityInput) || cityInput.value.trim() !== "") &&
                    (!isFieldVisible(postNumberInput) || validatePostNumber(postNumberInput.value));

                submitBtn.disabled = !isValid;
            }

            // Слушаем изменения в полях формы
            telInput.addEventListener("input", validateForm);
            emailInput.addEventListener("input", validateForm);
            dateInput.addEventListener("input", validateForm);
            nameInput.addEventListener("input", validateForm);
            secondNameInput.addEventListener("input", validateForm);
            cityInput.addEventListener("input", validateForm);
            postNumberInput.addEventListener("input", validateForm);

            // Слушаем изменения радиокнопок и валидируем форму
            scretchRadio.addEventListener("change", function () {
                toggleFields();
                validateForm(); // Перепроверяем активные поля после переключения
            });

            electronicRadio.addEventListener("change", function () {
                toggleFields();
                validateForm(); // Перепроверяем активные поля после переключения
            });

            // Функция переключения видимости полей
            function toggleFields() {
                if (scretchRadio.checked) {
                    // Показываем только соответствующие поля для скретч-сертификата
                    telInput.parentElement.style.display = "block";
                    nameInput.parentElement.style.display = "block";
                    secondNameInput.parentElement.style.display = "block";
                    cityInput.parentElement.style.display = "block";
                    postNumberInput.parentElement.style.display = "block";
                    emailInput.parentElement.style.display = "none";
                } else {
                    // Показываем только соответствующие поля для электронного сертификата
                    telInput.parentElement.style.display = "none";
                    nameInput.parentElement.style.display = "none";
                    secondNameInput.parentElement.style.display = "none";
                    cityInput.parentElement.style.display = "none";
                    postNumberInput.parentElement.style.display = "none";
                    emailInput.parentElement.style.display = "block";
                }
            }

            // Начальная проверка и установка полей в зависимости от выбранного варианта
            toggleFields();
            validateForm(); // Проверяем поля при загрузке страницы
        });


        const svgs = document.querySelectorAll('.svg-element');

        svgs.forEach(svg => {
            svg.addEventListener('click', function () {
                // Убираем класс active у всех SVG
                svgs.forEach(s => s.classList.remove('active'));
                // Добавляем класс active только к текущему SVG
                this.classList.add('active');
            });
        });
    </script>
    <style>
        .svg-container {
            display: inline-block;
            margin: 10px;
            cursor: pointer;
            transition: stroke 0.3s; /* Плавный переход обводки */
        }

        .active {
            stroke: black; /* Цвет обводки при активном состоянии */
            stroke-width: 2; /* Ширина обводки */
         
        }
    </style>
