@{
    ViewData["Title"] = "Test";
}
<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div>
        <h1>Привіт!!!</h1>
        <h2>Це тестова сторінка</h2>
    </div>
</div>
