/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
}

/* Определение стиля для кнопки с классом btn-purple */
.btn-purple {
    background-color: #9C12FF; /* Цвет фона фиолетовый */
    color: #FFFFFF; /* Цвет текста белый */
    border-radius: 10px;
}
.btn-purple:hover {
    background-color: #FFFFFF; /* При наведении фон меняется на белый */
    color: #9C12FF; /* Текст меняется на фиолетовый */
    border: 1px solid #9C12FF; /* Добавляем фиолетовую границу */
}

.btn-outline-purple {
    background-color: #f0b0e2;
    color: #9C12FF;
    border-radius: 10px;
}
.btn-outline-purple:hover {
   background-color: #9C12FF; /* Цвет фона фиолетовый */
    color: #FFFFFF; /* Цвет текста белый */
}

.rating {
    color: #ffcc00;
}
a {
    color: #7A7A7A; /* Цвет текста по умолчанию - серый */
    text-decoration: none; /* Убираем подчеркивание */
}
a:hover{
    color: #9C12FF; /* Цвет текста при наведении - фиолетовый */
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}
/* список */
.catalog a {
    /*color: black;*/ /* Цвет текста по умолчанию - синий */
    /*text-decoration: none;*/ /* Убираем подчеркивание */
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; /* Замените "Arial, sans-serif" на ваш предпочитаемый шрифт */
    font-size: 20px; /* Увеличиваем размер текста */
}

/*.catalog a:hover {
    color: #9C12FF;*/ /* Цвет текста при наведении - фиолетовый */
    /*text-decoration: underline;*/ /* Добавляем подчеркивание при наведении */
/*}*/

.catalog i.bi {
    color: gray; /* Цвет иконки - серый */
    font-size: 24px; /* Увеличиваем размер текста */
}

#heart-button {
    max-height: 40px;
    max-width: 40px;
}

#heart-icon {
    color: gold; /* Новый цвет иконки */
}
/*.btn-link:focus,
.btn-link:active {
    outline: none;
}*/
.icon-img {
    width: 32px;
    height: 32px;
}

.icon-img-white {
    width: 32px;
    height: 32px;
    filter: invert(100%) brightness(100%) grayscale(0%);
}

.icon-img-green {
    width: 32px;
    height: 32px;
    /*filter: brightness(0) invert(1) sepia(100%) saturate(7500%) hue-rotate(110deg);*/
}

 /* бічне вікно кошика */
.cart-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.cart-sidebar-content {
    padding: 20px;
    position: relative; /* Ensure that the close button is positioned relative to this container */
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-header h4 {
    margin: 0;
}

.item-details p {
    margin: 5px 0;
}

.item-details img {
    max-width: 50px;
    height: auto;
}

.closebtn {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 36px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; 
}

    .closebtn:hover {
        color: red; 
    }

    /*<-- FOOTER -->*/
.icon-up {
    display: inline-block;
    position: relative;
    top: -8px;
}

/*<-- Слайдер на всю ширину хедера -->*/
.carousel {
    width: 100%;
}

.slider-img {
    width: 100%;
    height: auto; /* Це дозволяє зображенням залишатися пропорційними */
    max-height: 500px; /* Опційно: можна задати максимальну висоту */
    object-fit: cover; /* Масштабує зображення, зберігаючи пропорції */
}

/*<-- Layout головна частина екрану -->*/
.slider-container {
    padding-left: 200px;
    padding-right: 200px;
}

